name: cfb clean
on:
  push:
    paths: 
      - ".github/workflows/cfb-clean.yml"
  
jobs:
  step1:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        channel_id: [25, 143, 230, 229]
    steps:
      - name: Checkout cfb storage
        if: success()
        uses: actions/checkout@v2
        with:
          path: storage
          ref: "cfb-storage"
      - name: Clean1
        run: |
          cd storage/${{matrix.channel_id}}/threads
          ls ./ | while read line; do [ -d $line ] && rm -fr $line; done
      - name: Clean2
        run: |
          cd storage/${{matrix.channel_id}}
          rm -fr ./*.json.enc
      - name: Clean3
        run: |
          rm -fr storage/${{matrix.channel_id}}_success
      - name: Clean4
        run: |
          rm -fr storage/checkpoint
      - name: Config Github name & email
        run: |
          git config --global user.name ${GITHUB_ACTOR}
          git config --global user.email ${GITHUB_ACTOR}@my-domain.io
      - name: push
        if: success()
        run: |
          cd storage
          git add -A
          [ `git status -s | wc -l` != 0 ] && \
          git commit -q -m "cfb clean ${{matrix.channel_id}}"
          for i in $(seq 1 5); do
            echo "push start ##########################"
            git push && exit 0 || git pull -q --rebase
            sleep 5
            echo "retry ${i}."
          done
          exit 1
