name: cfb crawlers
on:
  push:
    paths:
      - ".github/workflows/cfb.yml"
  schedule:
    - cron: "*/2 * * * *"

jobs:
  step1:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        channel_id: [25, 143, 230, 229]
    env:
      page_number: 10
      tempspace: tempspace
      tempspace_threads: tempspace/threads
      tempspace_page: tempspace/page
      storage_channel: storage/${{matrix.channel_id}}
      storage_channel_threads: storage/${{matrix.channel_id}}/threads
      storage_channel_page: storage/${{matrix.channel_id}}/page
      channel_page_url: https://raw.githubusercontent.com/shinhwagk/test/cfb-storage/${{matrix.channel_id}}/page
    steps:
      - name: Checkout cfb bin
        uses: actions/checkout@v2
        with:
          path: bin
          ref: "refs/heads/cfb"
      - name: Decrypt cfb bin
        uses: shinhwagk/actions-crypto@master
        with:
          crypto-path: bin
          crypto-action: dec
          crypto-password: ${{secrets.cfb_password}}
      - uses: actions/setup-node@v1
      - name: Install Dependencies
        run: npm i puppeteer fs-extra
      - name: Init Tempspace folder,file,page
        run: |
          mkdir -p ${tempspace_threads}
          code=`curl -s -o ${tempspace_page} -w "%{http_code}" ${channel_page_url}`
          echo $code
          [ $code == 404 ] && echo 0 > ${tempspace_page}
          echo ::set-env name=page::`cat ${tempspace_page}`
      - name: crawlar page
        run: |
          set +e
          echo ::set-env name=isNew::${{false}}
          for i in `seq 1 ${page_number}`; do
            echo $page
            node bin/step1.js ${page} ${tempspace_threads}
            if [ $? == 0 ]; then
              echo ::set-env name=isNew::${{true}}
              page=$(($page+1))
              echo ::set-env name=page::$page
            fi
          done
          echo "crawlar page: $page"
        env:
          channel_id: ${{ matrix.channel_id }}
      - name: enc tempspace threads
        if: env.isNew == 'true'
        uses: shinhwagk/actions-crypto@master
        with:
          crypto-path: ${{ env.tempspace_threads }}
          crypto-action: enc
          crypto-password: ${{secrets.cfb_password}}
      - name: Checkout cfb-storage
        if: success()
        uses: actions/checkout@v2
        with:
          path: storage
          ref: "cfb-storage"
      - name: Config Github name & email
        if: success()
        run: |
          git config --global user.name ${GITHUB_ACTOR}
          git config --global user.email ${GITHUB_ACTOR}@my-domain.io
      - name: push
        if: success()
        run: |
          mkdir -p ${storage_channel_threads}
          cp -r ${tempspace}/* ${storage_channel_threads}/
          echo ${page} > ${storage_channel_page}
          cd storage
          git add -A
          [ `git status -s | wc -l` != 0 ] && \
          git commit -q -m "channel ${{ matrix.channel_id }} page ${page}"
          for i in $(seq 1 5); do
            echo "push start ##########################"
            git push && exit 0 || git pull -q --rebase
            sleep 5
            echo "retry ${i}."
          done
          echo "###################################"
  step2:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        channel_id: [25, 143, 230, 229]
    env:
      thread_number: 10
      tempspace: tempspace
      tempspace_threads: tempspace/threads
      storage_channel: storage/${{matrix.channel_id}}
      storage_channel_threads: storage/${{matrix.channel_id}}/threads
      storage_channel_threads_success: storage/${{matrix.channel_id}}/threads_success
      storage_channel_threads_error: storage/${{matrix.channel_id}}/threads_error
    steps:
      - uses: actions/checkout@v2
        with:
          path: bin
          ref: "refs/heads/cfb"
      - uses: actions/checkout@v2
        with:
          path: storage
          ref: "cfb-storage"
      - uses: actions/setup-node@v1
      - name: Install Dependencies
        run: |
          npm i -g typescript ts-node
          npm i puppeteer fs-extra got
      - name: dec bin
        uses: shinhwagk/actions-crypto@master
        with:
          crypto-path: bin
          crypto-action: dec
          crypto-password: ${{secrets.cfb_password}}
      - name: Init Tempspace folder,file,page
        id: init
        run: |
          mkdir -p ${tempspace_threads} ${storage_channel_threads_success} ${storage_channel_threads_error}
          find ${storage_channel_threads} -type f | head -n ${thread_number} | while read thread_file; do
            meta_file=`basename ${thread_file}`
            thread_id=${meta_file::-9}
            mkdir -p "${tempspace_threads}/${thread_id}"
          done
      - name: dec tempspace threads
        uses: shinhwagk/actions-crypto@master
        with:
          crypto-path: ${{env.tempspace_threads}}
          crypto-action: dec
          crypto-password: ${{secrets.cfb_password}}
      - name: Crawlar Threads
        run: |
          set +e
          find ${tempspace_threads} -maxdepth 1 -type d ! -path ${tempspace_threads} | while read thread_folder; do
            tid=${thread_folder##*/}
            echo "$tid $thread_folder `pwd`"
            startT=`date +%s`
            node bin/step2.js $tid $thread_folder
            RC=$?
            if [ $RC == 0 ]; then
              rm -fr ${storage_channel_threads}/${tid}.json.enc
              endT=`date +%s`
              echo "${tid} success."
              echo "push time $(($endT-$startT))"
            fi
            if [ $RC == 1 ]; then
              continue
            fi
            
            if [ $RC == 127 ]; then
              echo "$tid error 127"
              mv ${storage_channel_threads}/${tid}.json.enc ${storage_channel_threads_error}/
            fi
          done
        env:
          channel_id: ${{ matrix.channel_id }}
      - name: enc tempspace_threads
        uses: shinhwagk/actions-crypto@master
        with:
          crypto-path: ${{env.tempspace_threads}}
          crypto-action: enc
          crypto-password: ${{secrets.cfb_password}}
      - name: Config Github name & email
        if: success()
        run: |
          git config --global user.name ${GITHUB_ACTOR}
          git config --global user.email ${GITHUB_ACTOR}@my-domain.io
      - name: push
        run: |
          mkdir -p ${storage_channel_threads_success}
          cp -r ${tempspace_threads}/* ${storage_channel_threads_success}/ && cd storage
          git add -A
          [ `git status -s | wc -l` != 0 ] && \
          git commit -q -m "channel ${{ matrix.channel_id }} threads ${thread_number}"
          for i in $(seq 1 5); do
            git push && exit 0 || git pull -q --rebase
            sleep 5
            echo "retry ${i}."
          done
  step3:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        channel_id: [25, 143, 230, 229]
    env:
      push_number: 10
      storage_channel_threads_success: storage/${{matrix.channel_id}}/threads_success
    steps:
      - uses: actions/checkout@v2
        with:
          path: bin
          ref: "refs/heads/cfb"
      - uses: actions/checkout@v2
        with:
          path: storage
          ref: "cfb-storage"
      - uses: actions/setup-python@v1
      - run: pip install requests
      - name: dec bin
        uses: shinhwagk/actions-crypto@master
        with:
          crypto-path: bin
          crypto-action: dec
          crypto-password: ${{secrets.cfb_password}}
      # - name: Init Tempspace folder,file,page
      #   run: |
      #     mkdir ${tempspace}
      #     find ${storage_channel_threads_success} -maxdepth 1 -type d ! -name '.' | head -n ${push_number} | xargs -i cp -r {} ${tempspace}/
      - name: dec tempspace
        uses: shinhwagk/actions-crypto@master
        with:
          crypto-path: ${{ env.tempspace }}
          crypto-action: dec
          crypto-password: ${{secrets.cfb_password}}
      - name: push drive
        run: |
          find ${storage_channel_threads_success} -maxdepth 1 -type d ! -path "${storage_channel_threads_success}" | head -n ${push_number} | while read thread_folder; do
            thread_id=${thread_folder##*/}
            echo "push tid: ${thread_id} start."
            find $thread_folder -type f | while read rawfile; do
              startT=`date +%s`
              python ./bin/push.py ${{matrix.channel_id}} ${thread_id} "${rawfile}"
              endT=`date +%s`
              echo "push time $(($endT-$startT))"
            done
            echo "push tid: ${thread_id} end."
            rm -fr ${thread_folder}
          done
      - name: Config Github name & email
        if: success()
        run: |
          git config --global user.name ${GITHUB_ACTOR}
          git config --global user.email ${GITHUB_ACTOR}@my-domain.io
      - name: push
        run: |
          cd storage
          git add -A
          git status -s
          [ `git status -s | wc -l` != 0 ] && \
          git commit -q -m "channel ${{ matrix.channel_id }} push ${push_number}"
          for i in $(seq 1 5); do
            git push && exit 0 || git pull -q --rebase
            sleep 5
            echo "retry ${i}."
          done
