name: CI

on:
  push:
    paths: 
      - ".github/workflows/test.yml"
jobs:
  build:
    runs-on: ubuntu-latest
#     services:
#       mysql:
#         image: mysql:8
#         env:
#           MYSQL_ROOT_PASSWORD: password
#         ports:
#         - 3306
#         options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
#       - name: Show MySQL Variables
#         run: mysql -uroot -p'password' -h127.0.0.1 --port ${{ job.services.mysql.ports['3306'] }} -e "show variables where Variable_name in ('server_id','log_bin','lower_case_table_names','version');"

      - run: apt install -y chromium-browser
#       - uses: actions/setup-node@v1
#       - run: npm i -g ts-node typescript
#       - run: npm i
#       - run: echo 111 > abc
#       - run: |
#           git config --global user.name ${GITHUB_ACTOR}
#           git config --global user.email ${GITHUB_ACTOR}@my-domain.io
#           git add abc
#           git commit -m "test"
#           git push
